<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Welcome to the edit page</h1>

Task id: <%= task.id %><hr />
Task name: <%= task.taskName %><hr />
Task Date: <%= task.taskDate %><hr />

</body>
</html>